* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.header {
  text-align: center;
}
.header .slogan h1 {
  color: #2d3958;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin: 70px 0 25px 0;
  text-shadow: 1px 1px #f8fafc, -1px 1px #f8fafc, -1px -1px #f8fafc, 1px -1px #f8fafc, 2px 2px 5px #61606b;
  font-family: "Outfit", sans-serif;
}
.header .slogan p {
  color: #7b88a8;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  font-family: DM Sans;
  text-shadow: 1px 1px #f8fafc, -1px 1px #f8fafc, -1px -1px #f8fafc, 1px -1px #f8fafc, 2px 2px 5px #61606b;
}

.team_member {
  gap: 12px;
  padding: 15px 10px;
  border-radius: 7px;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  box-shadow: 1px 5px 5px 5px #cac7df;
}
.team_member .fm {
  margin-right: 12px;
  margin-left: 12px;
  display: inline;
  padding: 5px 7px 7px 5px;
  border-radius: 4px;
  color: #7b88a8;
}
.team_member .fm:hover {
  cursor: pointer;
  color: #f8fafc;
  transition: all 1s;
  background-color: #886cff;
}
.team_member .test::after {
  content: "";
  width: 1px;
  height: 20px;
  left: 24px;
  position: relative;
  border-left: 1px solid #e7e5ea;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 58px;
}
.main .personal {
  width: 370px;
  height: 584px;
  border-radius: 7px;
  box-shadow: 1px 5px 5px 5px #cac7df;
  text-align: center;
  margin: 0 19px 37px 19px;
}
.main .personal:hover {
  background-color: #886cff;
  color: #fff;
  transition: ease 0.5s;
}

.price {
  margin: 35px 24px 30px 24px;
}

.price h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #7b88a8;
  margin-bottom: 20px;
}

.price h3 {
  font-size: 27px;
  line-height: 46px;
  color: #2d3958;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}

.price .price-number {
  font-size: 55px;
  margin-bottom: 10px;
  font-weight: 600;
}

.price p {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 26px;
  color: #696871;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}

.price button {
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 20px;
  border-radius: 7px;
  cursor: pointer;
  width: 240px;
  height: 48px;
  color: #fff;
  background-color: #886cff;
}

.items .items-text {
  display: flex;
  margin-left: 40px;
  margin-bottom: 18px;
}

.items .items-text p {
  color: #2d3958;
  margin-left: 13px;
  font-size: 22px;
  line-height: 32px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}

.main :hover,
.item-inform:hover h2,
.item-inform:hover h3,
.item-inform:hover p {
  color: #f8fafc;
  transition: ease 0.5s;
}

.item-inform:hover button {
  color: #886cff;
  transition: ease 0.5s;
  background-color: #f8fafc;
}

.item-inform:hover img {
  border-radius: 50%;
  background-color: #f8fafc;
}

/*# sourceMappingURL=new_style.css.map */
